.hero{
    height: 130vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}

.hero .home-pic img {
    max-width: 300%;  
    max-height: 900px;  
    display: block; 
    margin: 0 auto; 
}
