.hero{
    height: 70vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.hero .home-pic {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure no overflow from the container */
}

.hero .home-pic img {
    width: 100%;
    height: 100%;  
    object-fit: cover; /* Ensure the image covers the entire container */
    display: block; 
}