.shopcategory-banner{
    object-fit: cover;
    width: 100%;
    height: 40vh;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcategory-indexSort {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
}

.shopcategory-indexSort p {
    margin: 0;
    padding: 0;
}

.shopcategory-indexSort p span{
    font-weight: 600;
}

.shopcategory-products {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
    column-gap: 15px;
}
  
.item {
    max-width: 100%; /* Ensure the container does not exceed its parent's width */
}

.shopcategory-products .item a img {
    max-width: 75%; /* Make sure the image does not exceed the container's width */
    height: auto; /* Maintain the aspect ratio of the image */
}

.pagination {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.pagination button {
    padding: 10px 15px;
    border: none;
    background-color: #f0f0f0;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.pagination button:hover {
    background-color: #cecece;
}

.pagination button.active {
    background-color: #1f6aba;
    color: white;
}