.popular-item {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding-bottom: 20px; /* Add some bottom padding to make space for scrollbar */
    /* Optionally, you can add a scrollbar design */
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1);
  }
  
  /* Style for WebKit browsers */
  .popular-item::-webkit-scrollbar {
    width: 8px;
  }
  
  .popular-item::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .popular-item::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  