.productdisplay {
    display: flex;
    margin: 0px 170px;
    flex-direction: column;
  }
  
.product_image {
    display: flex;
    gap: 17px;
    width: 400px;
    height: auto;
  }
  
.product_image img {
    max-width: 100%;
    height: auto;
  }
  
.product_info {
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
  }